# R Studio files
.Rproj.user
.Rhistory
.RData
*.Rproj

# Sweave files
*.log
*.synctex.gz
*concordance.tex
Tutorial*.tex

# LaTex files
*.out
*.aux

# Figures created by knitr
Tutorials/Tutorial1/figure/*
Tutorials/Tutorial2/figure/*
Tutorials/Tutorial3/figure/*
Tutorials/Tutorial4/figure/*
Tutorials/Tutorial4/TempLayers/*
Tutorials/Tutorial4/NatEarthOLayers/*

